@tailwind base;
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
  }

  body {
    overscroll-behavior: contain;
  }
}
@tailwind components;
@tailwind utilities;
